/* ******************************************************
 File:    style.css
 Purpose: Radio Tabs/Boxes in single page tabbed website
 With normal CSS info for header, body, etc
 Used by: timstrutt.com ChemistryToolSheets website
 colors:  #512da8 (dk violet); #555555 (dk gray);
 #CCCCCC (grey), #f2f2f2 (lt gray);
 #FFFFFF (white); #1c1c1d (black); #5300EB (blue)
 
 fonts:   smaller; 16px; 20px; 32px
 single:  Helvetica, Arial, sans-serif;
 Author:  Tim Strutt
 Created: 2022-11-20
 Edited:  2022-12-01
 ****************************************************** */

html {
   box-sizing: border-box;
}
*, *:before, *:after {
   box-sizing: inherit;
}

article, header, section, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
   display: block;
}
body {
   background:#f2f2f2 none repeat scroll 0 0;
   color: #1c1c1d;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 16px;
   line-height: 24px;
   margin: 0;
   padding:0;
}
a{
   font-family: Helvetica, Arial, sans-serif;
   text-decoration: none;
   outline: none;
}
a:hover, a:focus {
   color: #555555;
}
section {
   float: left;
   width: 100%;
}


/* ******************************************************
 Headers for Script
 ****************************************************** */

.ScriptHeader {
   float: left;
   width: 100%;
   padding-top: 2em;
}
.rt-heading {
   border-bottom: solid 1px #3f51b5;
   padding-bottom: 5px;
   margin: 0 auto;
}
.ScriptHeader h1{
   color: #305EF8;
   font-size: 32px;
   font-weight: 500;
   margin: 0;
   line-height: normal;
}
.ScriptHeader h2 {
   color: #512da8;
   font-size: 20px;
   font-weight: 400;
   margin: 5px 0 0;
   line-height: normal;
}
.ScriptHeader h1 span {
   display: block;
   padding: 0;
   font-size: 22px;
   opacity: 0.7;
   margin-top: 5px;
   text-transform:uppercase;
}
.ScriptHeader span {
   display: block;
   padding: 0;
   font-size: 22px;
   opacity: 0.7;
   margin-top: 5px;
}

/* ******************************************************
 Update Grids for user's chosen "tab"
 ******************************************************* */

.rt-container {
   margin: 0 auto;
   padding-left:12px;
   padding-right:12px;
}
.rt-row:before, .rt-row:after {
   display: table;
   line-height: 0;
   content: "";
}
.rt-row:after {
   clear: both;
}
[class^="col-rt-"] {
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -o-box-sizing: border-box;
   -ms-box-sizing: border-box;
   padding: 0 15px;
   min-height: 1px;
   position: relative;
}

@media (min-width: 768px) {
   .rt-container {
      width: 750px;
   }
   [class^="col-rt-"] {
      float: left;
      width: 49.9999999999%;
   }
   .col-rt-6, .col-rt-12 {
      width: 100%;
   }
}
@media (min-width: 1200px) {
   .rt-container {
      width: 1170px;
   }
   .col-rt-1 {
      width:16.6%;
   }
   .col-rt-2 {
      width:30.33%;
   }
   .col-rt-3 {
      width:50%;
   }
   .col-rt-4 {
      width: 67.664%;
   }
   .col-rt-5 {
      width: 83.33%;
   }
}
@media only screen and (min-width:240px) and (max-width: 768px){
   .ScriptTop h1, .ScriptTop ul {
      text-align: center;
   }
   .ScriptTop h1{
      margin-top:0;
      margin-bottom:8px;
   }
   .ScriptTop ul{
      margin-top:12px;
   }
   
   .ScriptHeader h1,
   .ScriptHeader h2,
   .scriptnav ul{
      text-align:center;
   }
   .scriptnav ul{
      margin-top:12px;
   }
   #float-right{
      float:none;
   }
}

.tab-wrap {
   -webkit-transition: 0.3s box-shadow ease;
   transition: 0.3s box-shadow ease;
   border-radius: 6px;
   max-width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   position: relative;
   list-style: none;
   background-color: #fff;
   margin: 40px 0;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.tab-wrap:hover {
   box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
}

.tab {
   display: none;
}
.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
   opacity: 1;
   -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
   transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
   transition: 0.5s opacity ease-in, 0.8s transform ease;
   transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
   position: relative;
   top: 0;
   z-index: 100;
   -webkit-transform: translateY(0px);
   transform: translateY(0px);
   text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
   opacity: 1;
   -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
   transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
   transition: 0.5s opacity ease-in, 0.8s transform ease;
   transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
   position: relative;
   top: 0;
   z-index: 100;
   -webkit-transform: translateY(0px);
   transform: translateY(0px);
   text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
   opacity: 1;
   -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
   transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
   transition: 0.5s opacity ease-in, 0.8s transform ease;
   transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
   position: relative;
   top: 0;
   z-index: 100;
   -webkit-transform: translateY(0px);
   transform: translateY(0px);
   text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
   opacity: 1;
   -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
   transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
   transition: 0.5s opacity ease-in, 0.8s transform ease;
   transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
   position: relative;
   top: 0;
   z-index: 100;
   -webkit-transform: translateY(0px);
   transform: translateY(0px);
   text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
   opacity: 1;
   -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
   transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
   transition: 0.5s opacity ease-in, 0.8s transform ease;
   transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
   position: relative;
   top: 0;
   z-index: 100;
   -webkit-transform: translateY(0px);
   transform: translateY(0px);
   text-shadow: 0 0 0;
}
.tab:first-of-type:not(:last-of-type) + label {
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}
.tab:not(:first-of-type):not(:last-of-type) + label {
   border-radius: 0;
}
.tab:last-of-type:not(:first-of-type) + label {
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
}
.tab:checked + label {
   background-color: #fff;
   box-shadow: 0 -1px 0 #fff inset;
   cursor: default;
}
.tab:checked + label:hover {
   box-shadow: 0 -1px 0 #fff inset;
   background-color: #fff;
}
.tab + label {
   box-shadow: 0 -1px 0 #eee inset;
   border-radius: 6px 6px 0 0;
   cursor: pointer;
   display: block;
   text-decoration: none;
   color: #512da8;
   -webkit-box-flex: 3;
   -ms-flex-positive: 3;
   flex-grow: 3;
   text-align: center;
   background-color: #f2f2f2;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   text-align: center;
   -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
   transition: 0.3s background-color ease, 0.3s box-shadow ease;
   height: 50px;
   box-sizing: border-box;
   padding: 15px;
}
.tab + label:hover {
   background-color: #CCCCCC;
   box-shadow: 0 1px 0 #f4f4f4 inset;
}
.tab__content {
   padding: 10px 25px;
   background-color: transparent;
   position: absolute;
   width: 100%;
   z-index: -1;
   opacity: 0;
   left: 0;
   -webkit-transform: translateY(-3px);
   transform: translateY(-3px);
   border-radius: 6px;
}

/* format main bits */
body {
   font-family: Helvetica, sans-serif;
   background-color: #FDFDFD;
   color: #1c1c1d;
   font-weight: 400;
}
.container {
   margin: 0 auto;
   display: block;
   max-width: 800px;
}
.container > *:not(.tab-wrap) {
   padding: 0 80px;
}

/* This is for main headers */
h1,
h2 {
   margin: 0;
   color: #1c1c1d;
   text-align: center;
}
h2.heading {
   font-size: 20px;
   margin-bottom:1px;
}
h2 {
   font-size: 1em;
   margin-bottom: 0;
}
p {
   line-height: 1.6;
   margin-bottom: 1px;
}

/* This is for buttons inside "tabs" */

button {
   background-color: #f2f2f2;
   border: none;
   color: #555555;
   font-size: 16px;
   padding: 15px 30px;
   text-align: center;
   text-decoration: none;
   /* display: inline-block; */
}
button:hover {
   background: #CCCCCC;
}

hr {
   height:0.5px;
   border:none;
   color:#512da8;
   background-color:#512da8;
}

